.main2 {
    padding: 25px 200px 0;
    height: 100vh;
    p {
      color: white;
      font-family: "Chasing";  
      font-size: 3rem;
    }
    span {
      font-family: "Heart";
      font-size: 5rem;
    }
    img {
        height: 12%;
        width: 7%;
    }
}