* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Valentine";
  src: url(../font/Valentine.ttf);
}
@font-face {
  font-family: "Lovely";
  src: url(../font/LovelyValentine.ttf);
}
@font-face {
  font-family: "Chasing";
  src: url(../font/ChasingHearts.ttf);
}
@font-face {
  font-family: "Heart";
  src: url(../font/BonusHearts.ttf);
}
body {
  background-color: pink;
}

.main {
  height: 100vh;
}
@media screen and (max-width: 700px) {
  .main {
    height: 50vh;
  }
}
@media screen and (max-width: 1000px) {
  .main {
    max-width: 700px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 700px) {
  .main {
    max-width: 500px;
    margin: 0 auto;
  }
}
.main .wrapper {
  position: relative;
  height: 500px;
  max-width: 1000px;
  margin: 0 auto;
}
.main .wrapper a, .main .wrapper button {
  width: 50px;
  height: inherit;
}
.main h4 {
  color: white;
  font-family: "Lovely";
  font-weight: 100;
  font-size: 2rem;
  padding: 50px 400px 0;
}
@media screen and (max-width: 700px) {
  .main h4 {
    font-size: 1rem;
    padding: 50px 165px 0;
  }
}
.main .btn-group {
  height: 40px;
  max-width: 500px;
  margin: 0px auto;
  padding: 50px;
}
@media screen and (max-width: 700px) {
  .main .btn-group {
    max-width: 350px;
    margin: 0 auto;
  }
}
.main .btn-group .idp2 {
  padding: 0;
  text-align: center;
}
.main .btn-group a {
  font-family: "Lovely";
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  position: absolute;
  width: 150px;
  height: inherit;
  font-size: 1.2em;
  color: white;
  font-weight: 600;
  border-radius: 30px;
  border: 2px solid white;
  outline: none;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  background: none;
}
.main .btn-group a:hover {
  color: rgb(16, 184, 16);
  border: 2px solid rgb(16, 184, 16);
}
@media screen and (max-width: 700px) {
  .main .btn-group a {
    width: 100px;
  }
}
.main .btn-group button {
  font-family: "Lovely";
  margin: 0 0 0 200px;
  position: absolute;
  width: 150px;
  height: inherit;
  font-size: 1.2em;
  color: #fff;
  font-weight: 600;
  border-radius: 30px;
  border: 2px solid white;
  outline: none;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  background: none;
}
.main .btn-group button:hover {
  color: rgb(223, 16, 16);
  border: 2px solid rgb(223, 16, 16);
}
@media screen and (max-width: 700px) {
  .main .btn-group button {
    width: 100px;
    margin: 0 0 0 145px;
  }
}

img {
  width: 30%;
  margin: 100px 350px 0;
}
@media screen and (max-width: 700px) {
  img {
    margin: 20px 150px 0;
  }
}

h1 {
  padding: 30px 0 0 60px;
  color: rgb(255, 255, 255);
  font-family: "Lovely";
  font-size: 6rem;
}
@media screen and (max-width: 700px) {
  h1 {
    max-width: 500px;
    margin: 0 auto;
    font-size: 3rem;
  }
}

#love {
  color: rgb(255, 0, 0);
}

p {
  padding: 0 0 0 60px;
  color: rgb(255, 255, 255);
  font-family: "Lovely";
  font-size: 3rem;
}
@media screen and (max-width: 700px) {
  p {
    max-width: 314px;
    margin: 0 auto;
    font-size: 1.5rem;
    padding: 0;
  }
}

#span1 {
  color: rgb(255, 255, 255);
  font-family: "Valentine";
  font-size: 5rem;
}
@media screen and (max-width: 700px) {
  #span1 {
    font-size: 3rem;
  }
}
#span1:after {
  content: "";
  position: absolute;
  width: 180px;
  height: 3px;
  background: white;
  border-radius: 25px;
  top: 29%;
  left: 50%;
}
@media screen and (max-width: 1400px) {
  #span1:after {
    top: 44%;
    left: 71.2%;
  }
}
@media screen and (max-width: 1000px) {
  #span1:after:after {
    top: 21%;
    left: 78%;
  }
}
@media screen and (max-width: 500px) {
  #span1:after {
    width: 109px;
    top: 22%;
    left: 48.5%;
  }
}

.idp {
  font-size: 1.2rem;
  padding: bg0px 0 0 65px;
}
@media screen and (max-width: 700px) {
  .idp {
    font-size: 0.8rem;
    padding: 20px 60px;
  }
}

.main2 {
  padding: 25px 200px 0;
  height: 100vh;
}
.main2 p {
  color: white;
  font-family: "Chasing";
  font-size: 3rem;
}
.main2 span {
  font-family: "Heart";
  font-size: 5rem;
}
.main2 img {
  height: 12%;
  width: 7%;
}/*# sourceMappingURL=index.css.map */